<div class="row">

				<nav aria-label="You are here:" role="navigation">
				  <ul class="breadcrumbs">
					<li><a href="/">Home</a></li>
					<li class="disabled">Sản phẩm</li>
					<li>
					  <span class="show-for-sr">Current: </span> Thêm sản phẩm
					</li>
				  </ul>
				</nav>

			</div>

			<div class="row">
				&nbsp;
			</div>

			<div class="row">
				<div class="large-4 columns">
					<div class="media-object">
					  <div class="media-object-section">
						<div class="thumbnail">
						  <img src= "/images/cl2.jpg">
						</div>
					  </div>
					</div>
				</div>

				<div class="large-8 columns">
					<div class="form">
						<form method="post">
						  	<div class="grid-container">
								<div class="grid-x grid-padding-x">

									<div class="medium-12 cell">
										<label>Tên sản phẩm
											<input type="text" placeholder="Tên sản phẩm" name="name">
										</label>
									</div>

									<div class="medium-12 cell">
										<label>Danh mục
											<select>
												<option value="husker">A</option>
												<option value="starbuck">B</option>
												<option value="hotdog">C</option>
												<option value="apollo">D</option>
											</select>
										</label>
									</div>

									<div class="medium-12 cell">
										<label>Mô tả
											<input type="text" placeholder="Mô tả ..." name="description">
										</label>
									</div>

									<div class="medium-12 cell">
										<label>Nội dung
											<input type="text" placeholder="Nội dung ..." name="content">
										</label>
									</div>

									<div class="medium-2">
										<label>
											Số lượng
											<input type="number" value="100" name="quantity">
										</label>
									</div>

									<div class="medium-6 cell">
										<label>Giá tiền
											<input type="text" placeholder="Đơn giá" name="price">
										</label>
									</div>

									<div class="medium-12 cell">
										<label>
											Ảnh thu nhỏ
										</label>
										<label for="thumbnail" class="button">Chọn ảnh ...
											<input type="file" id="thumbnail" class="show-for-sr" name="thumbnail">
										</label>
										
									</div>

									<div class="medium-12 cell">
										<label>
											Ảnh phóng to
										</label>
										<label for="image" class="button">Chọn ảnh ...
											<input type="file" id="image" class="show-for-sr" name="image">
										</label>
										
									</div>

								</div>
						  	</div>

						  	<button class="submit success button">Thêm</button>
							<button type="button" class="alert button ml-5">Hủy</button>
						</form>
					</div>
				</div>
			</div>
