<div class="row">

				<nav aria-label="You are here:" role="navigation">
				  <ul class="breadcrumbs">
					<li><a href="/">Home</a></li>
					<li class="disabled">Sản phẩm</li>
					<li>
					  <span class="show-for-sr">Current: </span> Cập nhật danh mục
					</li>
				  </ul>
				</nav>

			</div>

			<div class="row">
				&nbsp;
			</div>

			<div class="row">
				<div class="large-4 columns">
					<div class="media-object">
					  <div class="media-object-section">
						<div class="thumbnail">
						  <img src= "/images/cl2.jpg">
						</div>
					  </div>
					</div>
				</div>

				<div class="large-8 columns">
					<div class="form">
						<form action="/">
						  	<div class="grid-container">
								<div class="grid-x grid-padding-x">

									<div class="medium-12 cell">
										<label>ID
											<input type="text" placeholder="Tên sản phẩm">
										</label>
									</div>

									<div class="medium-12 cell">
										<label>Tên danh mục
											<input type="text" placeholder="Tên sản phẩm">
										</label>
									</div>

									<div class="medium-12 cell">
										<label>Mô tả
											<input type="text" placeholder="Mô tả ...">
										</label>
									</div>

									<div class="medium-12 cell">
										<label>Nội dung
											<input type="text" placeholder="Nội dung ...">
										</label>
									</div>

									<div class="medium-12 cell">
										<label>
											Ảnh thu nhỏ
										</label>
										<label for="thumbnail" class="button">Chọn ảnh ...
											<input type="file" id="thumbnail" class="show-for-sr">
										</label>
										
									</div>

									<div class="medium-12 cell">
										<label>
											Ảnh minh họa
										</label>
										<label for="image" class="button">Chọn ảnh ...
											<input type="file" id="image" class="show-for-sr">
										</label>
										
									</div>

								</div>
						  	</div>

						  	<button class="submit success button">Cập nhật</button>
							<button type="button" class="alert button ml-5">Hủy</button>
						</form>
					</div>
				</div>
			</div>
