<div class="row">

    <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li class="disabled">Sản phẩm</li>
            <li>
                <span class="show-for-sr">Current: </span> Danh sách
            </li>
        </ul>
    </nav>

</div>

<div class="row">
    &nbsp;
</div>

<div class="row">

    <div class="large-6 columns">
        <div class="callout success">
            <p>
                <strong>Số lượng danh mục</strong>
            </p>
            <div class="text-right">
                <div class="stat">€250.00</div>
            </div>
        </div>
    </div>

    <div class="large-6 columns">
        <div class="callout primary">
            <p>
                <strong>Số lượng sản phẩm</strong>
            </p>
            <div class="text-right">
                <div class="stat">7</div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="large-12 columns">
        <a href="/products/admin/add" class="success button">Thêm</a>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <div class="card " style="width: 100%;">
            <div class="card-divider clearfix">
                Danh sách sản phẩm
                <i data-tooltip title="Click for More" class="float-right more-button fa fa-ellipsis-h"
                    aria-hidden="true"></i>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Sản phẩm</th>
                        <th>Danh mục</th>
                        <th>Số lượng</th>
                        <th>Giá tiền</th>
                        <th style="width: 12%;" class="text-center">Ngày cập nhật</th>
                        <th style="width: 22%;" class="text-center">#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Rocks</td>
                        <td>4</td>
                        <td>10</td>
                        <td class="text-right">€150.00</td>
                        <!-- <td class="text-center">
										<label class="label success">
											<i class="fa fa-arrow-up" aria-hidden="true"></i>&nbsp;Up&nbsp;<i class="fa fa-arrow-up" aria-hidden="true"></i>
										</label>
									</td> -->
                        <td class="text-center">
                            21/10/2021
                        </td>
                        <td class="text-center">
                            <a href="/products/admin/update" class="button warning m-0" href="#">Sửa</a>
                            <a class="button alert m-0" href="#">Xóa</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Rocks</td>
                        <td>4</td>
                        <td>10</td>
                        <td class="text-right">€150.00</td>
                        <!-- <td class="text-center">
										<label class="label success">
											<i class="fa fa-arrow-up" aria-hidden="true"></i>&nbsp;Up&nbsp;<i class="fa fa-arrow-up" aria-hidden="true"></i>
										</label>
									</td> -->
                        <td class="text-center">
                            21/10/2021
                        </td>
                        <td class="text-center">
                            <a href="/products/admin/update" class="button warning m-0" href="#">Sửa</a>
                            <a class="button alert m-0" href="#">Xóa</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Rocks</td>
                        <td>4</td>
                        <td>10</td>
                        <td class="text-right">€150.00</td>
                        <!-- <td class="text-center">
										<label class="label success">
											<i class="fa fa-arrow-up" aria-hidden="true"></i>&nbsp;Up&nbsp;<i class="fa fa-arrow-up" aria-hidden="true"></i>
										</label>
									</td> -->
                        <td class="text-center">
                            21/10/2021
                        </td>
                        <td class="text-center">
                            <a href="/products/admin/update" class="button warning m-0" href="#">Sửa</a>
                            <a class="button alert m-0" href="#">Xóa</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Rocks</td>
                        <td>4</td>
                        <td>10</td>
                        <td class="text-right">€150.00</td>
                        <!-- <td class="text-center">
										<label class="label success">
											<i class="fa fa-arrow-up" aria-hidden="true"></i>&nbsp;Up&nbsp;<i class="fa fa-arrow-up" aria-hidden="true"></i>
										</label>
									</td> -->
                        <td class="text-center">
                            21/10/2021
                        </td>
                        <td class="text-center">
                            <a href="/products/admin/update" class="button warning m-0" href="#">Sửa</a>
                            <a class="button alert m-0" href="#">Xóa</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="card-section">
                <small>
                    Số lượng:
                </small>
            </div>
        </div>
    </div>
</div>