<div class="row">

    <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li class="disabled">Đơn hàng</li>
            <li>
                <span class="show-for-sr">Current: </span> Danh sách
            </li>
        </ul>
    </nav>

</div>

<div class="row">
    &nbsp;
</div>

<div class="row">

    <div class="large-6 columns">
        <div class="callout success">
            <p>
                <strong>Tổng giá trị đơn hàng</strong>
            </p>
            <div class="text-right">
                <div class="stat">€250.00</div>
            </div>
        </div>
    </div>

    <div class="large-6 columns">
        <div class="callout primary">
            <p>
                <strong>Số lượng đơn hàng</strong>
            </p>
            <div class="text-right">
                <div class="stat">7</div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="large-12 columns">
        <div class="card " style="width: 100%;">
            <div class="card-divider clearfix">
                Danh sách sản phẩm
                <i data-tooltip title="Click for More" class="float-right more-button fa fa-ellipsis-h"
                    aria-hidden="true"></i>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Mã đơn hàng</th>
                        <th>Người đặt</th>
                        <th>Tổng tiền</th>
                        <th>Lời nhắn</th>
                        <th>Trạng thái</th>
                        <th style="width: 12%;" class="text-center">Ngày cập nhật</th>
                        <th style="width: 22%;" class="text-center">#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>6949SEX</td>
                        <td>Dicky Ngo</td>
                        <td>€150.00</td>
                        <td>Địa chỉ khó tìm, đừng giao</td>
                        <td class="text-center">
                            <label class="label alert"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;Chưa
                                giao</label>
                        </td>
                        <td class="text-center">
                            21/10/2021
                        </td>
                        <td class="text-center">
                            <a class="button alert m-0" href="#">Xóa</a>
                        </td>
                    </tr>

                    <tr>
                        <td>1</td>
                        <td>6949SEX</td>
                        <td>Dicky Ngo</td>
                        <td>€150.00</td>
                        <td>Địa chỉ khó tìm, đừng giao</td>
                        <td class="text-center">
                            <label class="label warning"><i class="fa fa-plane" aria-hidden="true"></i>&nbsp;Đang
                                giao</label>
                        </td>
                        <td class="text-center">
                            21/10/2021
                        </td>
                        <td class="text-center">
                            <a class="button alert m-0" href="#">Xóa</a>
                        </td>
                    </tr>


                    <tr>
                        <td>1</td>
                        <td>6949SEX</td>
                        <td>Dicky Ngo</td>
                        <td>€150.00</td>
                        <td>Địa chỉ khó tìm, đừng giao</td>
                        <td class="text-center">
                            <label class="label success"><i class="fa fa-truck" aria-hidden="true"></i>&nbsp;Đã
                                giao</label>
                        </td>
                        <td class="text-center">
                            21/10/2021
                        </td>
                        <td class="text-center">
                            <a class="button alert m-0" href="#">Xóa</a>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div class="card-section">
                <small>
                    Số lượng:
                </small>
            </div>
        </div>
    </div>
</div>