<div class="featured-page">
      <div class="container">
        <div class="find-options">
          <input type="text" class="find-edit-text">
          <input class="submit-button" type="button" name="" id="" value="Tìm kiếm">
          <br><br>
          <form>
            <label for="brand">Hãng</label>
            <select name="brand" id="brand" class="select-option">
              <option value="">Tất cả</option>
              <option value="">Apple</option>
              <option value="">Asus</option>
              <option value="">MSI</option>
              <option value="">Dell</option>
              <option value="">Acer</option>
              <option value="">LG</option>
              <option value="">Hp</option>
            </select>
            <label for="kind-customer"> Nhu cầu</label>
            <select name="kind-customer" id="kind-customer" class="select-option">
              <option value="">Tất cả</option>
              <option value="">Học tập, văn phòng</option>
              <option value="">Chuyên Game</option>
              <option value="">Đồ họa kỹ thuật</option>
              <option value="">Cao cấp, sang trọng</option>
            </select>
            <input type="submit" value="Lọc" class="submit-button">
          </form>
        </div>

        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="section-heading">
              <h1>Danh sách sản phẩm</h1>
            </div>
          </div>
          <div class="col-md-8 col-sm-12">
            <div id="filters" class="button-group">
              <button class="btn btn-primary" data-filter="*">Tất cả</button>
              <button class="btn btn-primary" data-filter=".low">Giá tăng dần</button>
              <button class="btn btn-primary" data-filter=".high">Giá giảm dần</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="featured container no-gutter">

        <div class="row posts">
            <div id="1" class="item new col-md-4">
              <a href="/products/1">
                <div class="featured-item">
                  <img src="images/macbook-air-m1-2020-gray.jpg" alt="Item 1">
                  <h4>MacBook Air M1 2020</h4>
                  <h5>28.990.000VND</h5>
                  
                  <p>CPU: Apple M1 - 8 nhân</p>
                  <p>RAM: 8GB</p>
                  <p>Ổ cứng: 256GB SSD</p>
                  <p>Card đồ họa: M1 - 7 nhân GPU</p>
                  <p>Màn hình: 13.3" Retina (2560 x 1600)</p>
                </div>
              </a>
            </div>

            <div id="1" class="item new col-md-4">
              <a href="/products/1">
                <div class="featured-item">
                  <img src="images/macbook-air-m1-2020-gray.jpg" alt="Item 1">
                  <h4>MacBook Air M1 2020</h4>
                  <h5>32.490.000VND</h5>
                  
                  <p>CPU: Apple M1 - 8 nhân</p>
                  <p>RAM: 16GB</p>
                  <p>Ổ cứng: 256GB SSD</p>
                  <p>Card đồ họa: M1 - 8 nhân GPU</p>
                  <p>Màn hình: 13.3" Retina (2560 x 1600)</p>
                </div>
              </a>
            </div>

            <div id="1" class="item new col-md-4">
              <a href="/products/1">
                <div class="featured-item">
                  <img src="images/apple-macbook-pro-m1-2020.jpg" alt="Item 1">
                  <h4>MacBook Pro M1 2020</h4>
                  <h5>50.990.000VND</h5>
                  <p>CPU: Apple M1 - 8 nhân</p>
                  <p>RAM: 16GB</p>
                  <p>Ổ cứng: 1TB SSD</p>
                  <p>Card đồ họa: M1 - 8 nhân GPU</p>
                  <p>Màn hình: 13.3" Retina (2560 x 1600)</p>
                </div>
              </a>
            </div>

            <div id="1" class="item new col-md-4">
              <a href="/products/1">
                <div class="featured-item">
                  <img src="images/apple-macbook-pro-14-m1-pro-2021.jpg" alt="Item 1">
                  <h4>MacBook Pro 14 M1 2021</h4>
                  <h5>64.990.000VND</h5>
                  <p>CPU: Apple M1 - 10 nhân</p>
                  <p>RAM: 16GB</p>
                  <p>Ổ cứng: 1TB SSD</p>
                  <p>Card đồ họa: M1 - 16 nhân GPU</p>
                  <p>Màn hình: 14.2" Liquid Retina XDR display (3024 x 1964)</p>
                </div>
              </a>
            </div>

            <div id="1" class="item new col-md-4">
              <a href="/products/1">
                <div class="featured-item">
                  <img src="images/apple-macbook-pro-14-m1-pro-2021.jpg" alt="Item 1">
                  <h4>MacBook Pro 16 M1 MAX 2021</h4>
                  <h5>64.990.000VND</h5>
                  <p>CPU: Apple M1 - 10 nhân</p>
                  <p>RAM: 32GB</p>
                  <p>Ổ cứng: 1TB SSD</p>
                  <p>Card đồ họa: M1 - 32 nhân GPU</p>
                  <p>Màn hình: 16.2" Liquid Retina XDR display (3456 x 2234)</p>
                </div>
              </a>
            </div>

            <div id="1" class="item new col-md-4">
              <a href="/products/1">
                <div class="featured-item">
                  <img src="images/asus-rog-zephyrus-g14.jpg" alt="Item 1">
                  <h4>Asus ROG Zephyrus G14 Alan Walker</h4>
                  <h5>44.990.000VND</h5>
                  
                  <p>CPU: AMD Ryzen 9, 5900HS</p>
                  <p>RAM: 16GB DDR4</p>
                  <p>Ổ cứng: 1TB SSD M.2 PCle</p>
                  <p>Card đồ họa: RTX 3050Ti 4GB</p>
                  <p>Màn hình: 14" Full HD IPS</p>
                </div>
              </a>
            </div>

            <div id="1" class="item new col-md-4">
              <a href="/products/1">
                <div class="featured-item">
                  <img src="images/asus-zenbook-duo-ux482ea.jpg" alt="Item 1">
                  <h4>Asus ZenBook Duo</h4>
                  <h5>39.490.000VND</h5>
                  
                  <p>CPU: Intel Core i7 Tiger Lake - 1165G7</p>
                  <p>RAM: 16GB LPDDR4X</p>
                  <p>Ổ cứng: 1TB SSD M.2 PCle</p>
                  <p>Card đồ họa: Intel Iris Xe Graphics</p>
                  <p>Màn hình: 14" Full HD IPS</p>
                </div>
              </a>
            </div>

            <div id="1" class="item new col-md-4">
              <a href="/products/1">
                <div class="featured-item">
                  <img src="images/asus-zenbook-flip-ux363ea.jpg" alt="Item 1">
                  <h4>Asus ZenBook Flip UX363EA</h4>
                  <h5>27.490.000VND</h5>
                  
                  <p>CPU: Intel Core i5 Tiger Lake - 1135G7</p>
                  <p>RAM: 8GB LPDDR4X</p>
                  <p>Ổ cứng: 512GB SSD M.2 PCle</p>
                  <p>Card đồ họa: Intel Iris Xe Graphics</p>
                  <p>Màn hình: 13.3" Full HD OLED</p>
                </div>
              </a>
            </div>

            <div id="1" class="item new col-md-4">
              <a href="/products/1">
                <div class="featured-item">
                  <img src="images/asus-vivobook-a515ea.jpg" alt="Item 1">
                  <h4>Asus VivoBook A515EA</h4>
                  <h5>19.690.000VND</h5>
                  
                  <p>CPU: Intel Core i5 Tiger Lake - 1135G7</p>
                  <p>RAM: 8GB DDR4</p>
                  <p>Ổ cứng: SSD 512 GB NVMe PCIe</p>
                  <p>Card đồ họa: Intel Iris Xe Graphics</p>
                  <p>Màn hình: 15.6" Full HD OLED</p>
                </div>
              </a>
            </div>

            <div id="3" class="item low col-md-4">
              <a href="/products/1">
                <div class="featured-item">
                  <img src="images/asus-vivobook-pro15-oled.jpg" alt="Item 1">
                  <h4>Asus VivoBook Pro 15 OLED</h4>
                  <h5>31.990.000VND</h5>
                  
                  <p>CPU: Intel Core i7 Tiger Lake - 11370H</p>
                  <p>RAM: 16GB DDR4</p>
                  <p>Ổ cứng: 512GB SSD NVMe</p>
                  <p>Card đồ họa: NVIDIA GeForce RTX3050</p>
                  <p>Màn hình: 15.6" Full HD OLED</p>
                </div>
              </a>
            </div>

            <div id="2" class="item high col-md-4">
              <a href="/products/1">
                <div class="featured-item">
                  <img src="images/msi-modern15.jpg" alt="Item 1">
                  <h4>MSI Modern 15 A11MU</h4>
                  <h5>18.990.000VND</h5>
                  
                  <p>CPU: Intel Core i5 Tiger Lake</p>
                  <p>RAM: 8GB DDR4</p>
                  <p>Ổ cứng: 512GB SSD M.2 PCle</p>
                  <p>Card đồ họa: Card tích hợp - Intel Iris Xe Graphics</p>
                  <p>Màn hình: 15.6" Full HD IPS</p>
                </div>
              </a>
            </div>

            <div id="2" class="item high col-md-4">
              <a href="/products/1">
                <div class="featured-item">
                  <img src="images/msi-gf75-thin-10scxr.jpg" alt="Item 1">
                  <h4> MSI GF75 Thin 10SCXR</h4>
                  <h5>22.490.000VND</h5>
                  
                  <p>CPU: Intel Core i7 Comet Lake - 10750H</p>
                  <p>RAM: 8GB DDR4</p>
                  <p>Ổ cứng: 512GB SSD M.2 PCle</p>
                  <p>Card đồ họa: NVIDIA GeForce GTX 1650 4 GB</p>
                  <p>Màn hình: 17.3" Full HD IPS</p>
                </div>
              </a>
            </div>

            <div id="2" class="item high col-md-4">
              <a href="/products/1">
                <div class="featured-item">
                  <img src="images/msi-summit-e13-flip.jpg" alt="Item 1">
                  <h4>MSI Summit E13 Flip</h4>
                  <h5>39.990.000VND</h5>
                  
                  <p>CPU: Intel Core i7 Tiger Lake - 1185G7</p>
                  <p>RAM: 16GB LPDDR4</p>
                  <p>Ổ cứng: SSD 1 TB NVMe PCIe Gen4x4</p>
                  <p>Card đồ họa: Intel Iris Xe Graphics</p>
                  <p>Màn hình: 13.4" Full HD IPS</p>
                </div>
              </a>
            </div>

            <div id="2" class="item high col-md-4">
              <a href="/products/1">
                <div class="featured-item">
                  <img src="images/msi-gaming-stealth-15m.jpg" alt="Item 1">
                  <h4>MSI Gaming Stealth 15M </h4>
                  <h5>40.790.000VND</h5>
                  
                  <p>CPU: Intel Core i7 Tiger Lake - 11375H</p>
                  <p>RAM: 16GB PDDR4</p>
                  <p>Ổ cứng: SSD 512GB NVMe PCIe</p>
                  <p>Card đồ họa: NVIDIA GeForce RTX 3060 Max-Q, 6 GB</p>
                  <p>Màn hình: 15.6" Full HD IPS</p>
                </div>
              </a>
            </div>

            <div id="2" class="item high col-md-4">
              <a href="/products/1">
                <div class="featured-item">
                  <img src="images/msi-gaming-ge66-raider.jpg" alt="Item 1">
                  <h4>MSI Gaming GE66 Raider</h4>
                  <h5>75.190.000VND</h5>
                  
                  <p>CPU: Intel Core i7 Tiger Lake - 11800H</p>
                  <p>RAM: 32GB PDDR4</p>
                  <p>Ổ cứng: SSD 2 TB NVMe PCIe Gen4x4</p>
                  <p>Card đồ họa: NVIDIA GeForce RTX 3080, 16 GB</p>
                  <p>Màn hình: 15.6" QHD IPS</p>
                </div>
              </a>
            </div>

        </div>
    </div>

    <div class="page-navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul>
              <li class="current-page"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

{{!-- <div class="featured-page">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Danh sách sản phầm</h1>
            </div>
          </div>
          <div class="col-md-8 col-sm-12">
            <div id="filters" class="button-group">
              <button class="btn btn-primary" data-filter="*">Tất cả</button>
              <button class="btn btn-primary" data-filter=".new">Mới nhât</button>
              <button class="btn btn-primary" data-filter=".low">Giá thấp</button>
              <button class="btn btn-primary" data-filter=".high">Giá cao</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="featured container no-gutter">

        <div class="row posts">
            <div id="1" class="item new col-md-4">
              <a href="/products/1">
                <div class="featured-item">
                  <img src="images/asus-rog-zephyrus-g14.jpg" alt="Item 1">
                  <h4>Asus ROG Zephyrus G14 Alan Walker</h4>
                  <h5>44.990.000VND</h5>
                  
                  <p>CPU: AMD Ryzen 9, 5900HS</p>
                  <p>RAM: 16GB DDR4</p>
                  <p>Ổ cứng: 1TB SSD M.2 PCle</p>
                  <p>Card rời: RTX 3050Ti 4GB</p>
                  <p>Màn hình: 14" Full HD IPS</p>
                </div>
              </a>
            </div>
            <div id="2" class="item high col-md-4">
              <a href="/products/2">
                <div class="featured-item">
                  <img src="images/msi-modern15.jpg" alt="Item 1">
                  <h4>MSI Modern 15 A11MU</h4>
                  <h5>18.990.000VND</h5>
                  
                  <p>CPU: Intel Core i5 Tiger Lake</p>
                  <p>RAM: 8GB DDR4</p>
                  <p>Ổ cứng: 512GB SSD M.2 PCle</p>
                  <p>Card rời: Card tích hợp - Intel Iris Xe Graphics</p>
                  <p>Màn hình: 15.6" Full HD IPS</p>
                </div>
              </a>
            </div>
            <div id="3" class="item low col-md-4">
              <a href="/products/1">
                <div class="featured-item">
                  <img src="images/asus-vivobook-pro15-oled.jpg" alt="Item 1">
                  <h4>Asus VivoBook Pro 15 OLED</h4>
                  <h5>31.990.000VND</h5>
                  
                  <p>CPU: Intel Core i7 Tiger Lake - 11370H</p>
                  <p>RAM: 16GB DDR4</p>
                  <p>Ổ cứng: 512GB SSD NVMe</p>
                  <p>Card rời: NVIDIA GeForce RTX3050</p>
                  <p>Màn hình: 15.6" Full HD OLED</p>
                </div>
              </a>
            </div>
            <div id="1" class="item new col-md-4">
              <a href="/products/1">
                <div class="featured-item">
                  <img src="images/asus-rog-zephyrus-g14.jpg" alt="Item 1">
                  <h4>Asus ROG Zephyrus G14 Alan Walker</h4>
                  <h5>44.990.000VND</h5>
                  
                  <p>CPU: AMD Ryzen 9, 5900HS</p>
                  <p>RAM: 16GB DDR4</p>
                  <p>Ổ cứng: 1TB SSD M.2 PCle</p>
                  <p>Card rời: RTX 3050Ti 4GB</p>
                  <p>Màn hình: 14" Full HD IPS</p>
                </div>
              </a>
            </div>
            <div id="2" class="item high col-md-4">
              <a href="/products/1">
                <div class="featured-item">
                  <img src="images/msi-modern15.jpg" alt="Item 1">
                  <h4>MSI Modern 15 A11MU</h4>
                  <h5>18.990.000VND</h5>
                  
                  <p>CPU: Intel Core i5 Tiger Lake</p>
                  <p>RAM: 8GB DDR4</p>
                  <p>Ổ cứng: 512GB SSD M.2 PCle</p>
                  <p>Card rời: Card tích hợp - Intel Iris Xe Graphics</p>
                  <p>Màn hình: 15.6" Full HD IPS</p>
                </div>
              </a>
            </div>
            <div id="3" class="item low col-md-4">
              <a href="/products/1">
                <div class="featured-item">
                  <img src="images/asus-vivobook-pro15-oled.jpg" alt="Item 1">
                  <h4>Asus VivoBook Pro 15 OLED</h4>
                  <h5>31.990.000VND</h5>
                  
                  <p>CPU: Intel Core i7 Tiger Lake - 11370H</p>
                  <p>RAM: 16GB DDR4</p>
                  <p>Ổ cứng: 512GB SSD NVMe</p>
                  <p>Card rời: NVIDIA GeForce RTX3050</p>
                  <p>Màn hình: 15.6" Full HD OLED</p>
                </div>
              </a>
            </div>
            <div id="1" class="item new col-md-4">
              <a href="/products/1">
                <div class="featured-item">
                  <img src="images/asus-rog-zephyrus-g14.jpg" alt="Item 1">
                  <h4>Asus ROG Zephyrus G14 Alan Walker</h4>
                  <h5>44.990.000VND</h5>
                  
                  <p>CPU: AMD Ryzen 9, 5900HS</p>
                  <p>RAM: 16GB DDR4</p>
                  <p>Ổ cứng: 1TB SSD M.2 PCle</p>
                  <p>Card rời: RTX 3050Ti 4GB</p>
                  <p>Màn hình: 14" Full HD IPS</p>
                </div>
              </a>
            </div>
            <div id="2" class="item high col-md-4">
              <a href="/products/1">
                <div class="featured-item">
                  <img src="images/msi-modern15.jpg" alt="Item 1">
                  <h4>MSI Modern 15 A11MU</h4>
                  <h5>18.990.000VND</h5>
                  
                  <p>CPU: Intel Core i5 Tiger Lake</p>
                  <p>RAM: 8GB DDR4</p>
                  <p>Ổ cứng: 512GB SSD M.2 PCle</p>
                  <p>Card rời: Card tích hợp - Intel Iris Xe Graphics</p>
                  <p>Màn hình: 15.6" Full HD IPS</p>
                </div>
              </a>
            </div>
            <div id="3" class="item low col-md-4">
              <a href="/products/1">
                <div class="featured-item">
                  <img src="images/asus-vivobook-pro15-oled.jpg" alt="Item 1">
                  <h4>Asus VivoBook Pro 15 OLED</h4>
                  <h5>31.990.000VND</h5>
                  
                  <p>CPU: Intel Core i7 Tiger Lake - 11370H</p>
                  <p>RAM: 16GB DDR4</p>
                  <p>Ổ cứng: 512GB SSD NVMe</p>
                  <p>Card rời: NVIDIA GeForce RTX3050</p>
                  <p>Màn hình: 15.6" Full HD OLED</p>
                </div>
              </a>
            </div>
        </div>
    </div>

    <div class="page-navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul>
              <li class="current-page"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div> --}}