
			<div class="row">

				<nav aria-label="You are here:" role="navigation">
				  <ul class="breadcrumbs">
					<li><a href="/">Home</a></li>
					<li class="disabled">Người dùng</li>
					<li>
					  <span class="show-for-sr">Current: </span> Cập nhật
					</li>
				  </ul>
				</nav>

			</div>

			<div class="row">
				&nbsp;
			</div>

			<div class="row">
				<div class="large-4 columns">
					<div class="media-object">
					  <div class="media-object-section">
						<div class="thumbnail">
						  <img src= "/images/cl2.jpg">
						</div>
					  </div>
					</div>
				</div>

				<div class="large-8 columns">
					<div class="form">
						<form action="/">
							<div class="grid-container">
								<div class="grid-x grid-padding-x">

									<div class="medium-12 cell">
										<label>ID
											<input type="text" placeholder="Tên sản phẩm">
										</label>
									</div>

									<div class="medium-12 cell">
										<label>Tên người dùng
											<input type="text" placeholder="Tên sản phẩm">
										</label>
									</div>

									<div class="medium-12 cell">
										<label>Loại tài khoản
											<select>
												<option value="husker">Phổ thông</option>
												<option value="starbuck">Quản trị</option>
											</select>
										</label>
									</div>

									<div class="medium-12 cell">
										<label>Email
											<input type="text" placeholder="Mô tả ...">
										</label>
									</div>

									<div class="medium-12 cell">
										<label>Địa chỉ
											<input type="text" placeholder="Nội dung ...">
										</label>
									</div>

									<div class="medium-3">
										<label>
											Số điện thoại
											<input type="text" placeholder="Số điện thoại">
										</label>
									</div>

									<div class="medium-3 cell">
										<hr>
										<fieldset class="large-12 cell">
											<legend>Trạng thái tài khoản</legend>
											<input type="radio" name="status" value="active" id="active" required>
											<label for="active">Mở</label>
											<input type="radio" name="status" value="lock" id="lock">
											<label for="lock">Khóa</label>
										 </fieldset>
									</div>

									<div class="medium-3 cell">
										<hr>
										<fieldset class="large-12 cell">
											<legend>Giới tính</legend>
											<input type="radio" name="sex" value="male" id="male" required>
											<label for="male">Nam</label>
											<input type="radio" name="sex" value="female" id="female">
											<label for="female">Nữ</label>
										 </fieldset>
									</div>

									<div class="medium-3 cell">
										<hr>
										<label>
											Ảnh đại diện
										</label>
										<label for="avatar" class="button">Chọn ảnh ...
											<input type="file" id="avatar" class="show-for-sr">
										</label>
										
									</div>

								</div>
							</div>

							<hr>

							<div class="text-center">
								<button class="submit success button">Thêm</button>
								<button type="button" class="alert button ml-5">Hủy</button>
							</div>
						</form>
					</div>
				</div>
			</div>
