<div class="heading">
	<div class="title-bar-left">
		<button class="menu-icon" type="button" data-open="offCanvas"></button>

		
		<span class="title-bar-title ml-5">Shop laptop</span>
	</div>

	<div class="top-bar-right">
		<ul class="menu br-5">
			<li><input type="search" class="search-box-left" placeholder="Search"></li>
			<li><button type="button" class="button search-box-right">Search</button></li>
		</ul>
	</div>
</div>