<div class="heading">
	<div class="title-bar-left">
		<button class="menu-icon" type="button" data-open="offCanvas"></button>

		
		<span class="title-bar-title ml-5">Shop laptop</span>
	</div>

	<div class="top-bar-right">
		<form action="/products/admin/search">
			<ul class="menu br-5">
				<li><input type="text" class="search-box-left" placeholder="Search" name="queryName" value="{{ queryName }}"></li>
				<li><button class="button search-box-right">Search</button></li>
			</ul>
		</form>
	</div>
</div>