<span class="title-bar-title">Trang quản trị</span>
<ul class="vertical menu">

	<li>
		<a href="#" class="off-canvas-submenu-call"><i class="fa fa-book" aria-hidden="true"></i>Sản phẩm<span class="float-right"> + </span></a>
	</li>
	<ul class="nested vertical menu off-canvas-submenu">
		<li><a href="/products/admin/category"><i class="fa fa-dot-circle-o"></i>Danh mục sản phẩm</a></li>
		<li><a href="/products/admin/list"><i class="fa fa-dot-circle-o"></i>Danh sách sản phẩm</a></li>
		<li><a href="#"><i class="fa fa-dot-circle-o"></i>Cấu hình</a></li>
	</ul>

	<li>
		<a href="#" class="off-canvas-submenu-call">
			<i class="fa fa-shopping-cart" aria-hidden="true"></i>Đơn hàng 
			<span class="float-right"> + </span>
		</a>
	</li>
	<ul class="nested vertical menu off-canvas-submenu">
		<li><a href="/orders/admin/list"><i class="fa fa-dot-circle-o"></i>Danh sách đơn hàng</a></li>
		<li><a href="#"><i class="fa fa-dot-circle-o"></i>Kế toán</a></li>
		<li><a href="#"><i class="fa fa-dot-circle-o"></i>Báo cáo bán hàng</a></li>
	</ul>

	<li>
		<a href="#" class="off-canvas-submenu-call"><i class="fa fa-user" aria-hidden="true"></i>Người dùng<span class="float-right"> + </span></a>
	</li>
	<ul class="nested vertical menu off-canvas-submenu">
		<li><a href="/users/admin/list"><i class="fa fa-dot-circle-o"></i>Danh sách người dùng</a></li>
		<li><a href="#"><i class="fa fa-dot-circle-o"></i>Cấu hình</a></li>
	</ul>

	<li>
		<a href="#" class="off-canvas-submenu-call">
			<i class="fa fa-table" aria-hidden="true"></i>Thống kê
			<span class="float-right"> + </span>
		</a>
	</li>
	<ul class="nested vertical menu off-canvas-submenu">
		<li><a href="/admin/statistics/revenue"><i class="fa fa-dot-circle-o"></i>Doanh số bán hàng</a></li>
		<li><a href="/admin/statistics/bestseller"><i class="fa fa-dot-circle-o"></i>Sản phẩm bán chạy</a></li>
	</ul>
	
	<li>
		<a href="#" class="off-canvas-submenu-call"><i class="fa fa-tags" aria-hidden="true"></i>Cài đặt<span class="float-right"> + </span></a>
	</li>
	<ul class="nested vertical menu off-canvas-submenu">
		<li><a href="#"><i class="fa fa-dot-circle-o"></i>Cấu hình chung</a></li>
		<li><a href="#"><i class="fa fa-dot-circle-o"></i>Tài khoản</a></li>
	</ul>
</ul>