<!-- Page Content -->
    <!-- Items Starts Here -->
    <div class="cart-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-heading">
                        <h1>Danh sách các sản phầm trong giỏ hàng</h1>
                    </div>
                </div>
            </div>

            <div class="cart-item">
              <div>
                  <img src="images/asus-rog-zephyrus-g14.jpg" alt="Item 1">
              </div>
              
              <div class="cart-item-detail">
                  <h4>Asus ROG Zephyrus G14 Alan Walker</h4>
                  <h5>44.990.000VND</h5>
                  <h6>Số lượng:
                      <input type="number"
                      onfocus="if(this.value == '1') { this.value = ''; }" 
                      onBlur="if(this.value == '') { this.value = '1';}"
                      value="1">
                  </h6>
              </div>
              <div class="">
                  <input class="delete-button" type="button" value="Xóa">
              </div>
            </div>

            <div class="cart-item">
                <div>
                    <img src="images/msi-modern15.jpg" alt="Item 1">
                </div>
                <div class="cart-item-detail">
                    <h4>MSI Modern 15 A11MU</h4>
                    <h5>18.990.000VND</h5>
                    <h6>Số lượng:
                      <input type="number"
                      onfocus="if(this.value == '1') { this.value = ''; }" 
                      onBlur="if(this.value == '') { this.value = '1';}"
                      value="1">
                    </h6>
                </div>
                <div>
                    <input class="delete-button" type="button" value="Xóa">
                </div>
            </div>

            <div class="cart-item">
                <div>
                    <img src="images/asus-vivobook-pro15-oled.jpg" alt="Item 1">                  
                </div>
                <div class="cart-item-detail">
                    <h4>Asus VivoBook Pro 15 OLED</h4>
                    <h5>31.990.000VND</h5>
                    <h6>Số lượng:
                      <input type="number"
                      onfocus="if(this.value == '1') { this.value = ''; }" 
                      onBlur="if(this.value == '') { this.value = '1';}"
                      value="1">
                    </h6>
                </div>
                <div>
                    <input class="delete-button" type="button" value="Xóa">
                </div>
            </div>   

            <div class="pay-area">
                <div>
                    <h4>Tổng tiền: 95.970.000 VND</h4>
                </div>
                <div>
                  <p>Địa chỉ nhận hàng:</p>
                  <input type="text" class="input-item">
                </div>
                <div class="pay-option">
                  <p>Hình thức thanh toán:</p>
                  <input type="radio" id="thanh-toan-khi-nhan-hang" name="hinh-thuc-thanh-toan">
                  <label for="thanh-toan-khi-nhan-hang">Thanh toán khi nhận hàng</label>
                  <input type="radio" id="thanh-toan-bang-momo" name="hinh-thuc-thanh-toan">
                  <label for="thanh-toan-bang-momo">Thanh toán qua momo</label>
                </div>
                <div class="main-button">
                    <a href="#"> Đặt hàng ngay</a>
                </div>                
            </div>        
        </div>
    </div> 
 
 {{!-- <div class="featured-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-heading">
                        <div class="line-dec"></div>
                        <h1>Danh sách các sản phầm trong giỏ hàng</h1>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 item-in-cart row">
                <div class="col-md-3 col-sm-3">
                    <img src="/images/asus-rog-zephyrus-g14.jpg" alt="Item 1">
                </div>
                <div class="col-md-8 col-sm-8">
                    <h4>Asus ROG Zephyrus G14 Alan Walker</h4>
                    <h5>44.990.000VND</h5>
                    <h6>Số lượng:
                        <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                        onfocus="if(this.value == '1') { this.value = ''; }" 
                        onBlur="if(this.value == '') { this.value = '1';}"
                        value="1">
                    </h6>
                </div>
                <div class="col-md-1 col-sm-1">
                    <input type="checkbox">
                    <input class="delete-button" type="button" value="Xóa">
                </div>
            </div>

            <div class="col-md-12 col-sm-12 item-in-cart row">
                <div class="col-md-3 col-sm-3">
                    <img src="/images/msi-modern15.jpg" alt="Item 1">
                </div>
                <div class="col-md-8 col-sm-8">
                    <h4>MSI Modern 15 A11MU</h4>
                    <h5>18.990.000VND</h5>
                    <h6>Số lượng:
                        <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                        onfocus="if(this.value == '1') { this.value = ''; }" 
                        onBlur="if(this.value == '') { this.value = '1';}"
                        value="1">
                    </h6>
                </div>
                <div class="col-md-1 col-sm-1">
                    <input type="checkbox">
                    <input class="delete-button" type="button" value="Xóa">
                </div>
            </div>

            <div class="col-md-12 col-sm-12 item-in-cart row">
                <div class="col-md-3 col-sm-3">
                    <img src="/images/asus-vivobook-pro15-oled.jpg" alt="Item 1">
                  
                </div>
                <div class="col-md-8 col-sm-8">
                    <h4>Asus VivoBook Pro 15 OLED</h4>
                    <h5>31.990.000VND</h5>
                    <h6>Số lượng:
                        <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                        onfocus="if(this.value == '1') { this.value = ''; }" 
                        onBlur="if(this.value == '') { this.value = '1';}"
                        value="1">
                    </h6>
                </div>
                <div class="col-md-1 col-sm-1">
                    <input class="choose-item-checkbox" type="checkbox">
                    <input class="delete-button" type="button" value="Xóa">
                </div>
            </div>   

            <div class="row pay-area">
                <div class="col-md-8 col-sm-8">
                    <h2>Tổng tiền: 95.970.000</h2>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="main-button">
                        <a href="#"> Thanh toán ngay</a>
                    </div>
                </div>
                
            </div>        
        </div>
    </div> --}}
