<div class="login-backgound">
    <form action="" class="form-login container"> 
        <div>
            <p>Email:</p>
            <input type="email" name="email" class="input-item">            
            <p>Mật khẩu:</p>
            <input type="password" name="password" class="input-item">
            <input type="button" class="input-item login-button" value="Đăng nhập">
            <br>
            <a href="/users/register">Đăng ký tài khoản mới</a>
        </div>               
    </form>
</div>