<div class="login-backgound">
    <form action="" class="form-login container"> 
        <div>
            <p>Họ và tên:</p>
            <input type="text" name="hovaten" class="input-item">            
            <p>Số điện thoại:</p>
            <input type="tel" name="tel" class="input-item">            
            <p>Email:</p>
            <input type="email" name="email" class="input-item">            
            <p>Mật khẩu:</p>
            <input type="password" name="password" class="input-item">
            <p>Nhập lại mật khẩu:</p>
            <input type="password" name="password" class="input-item">
            <input type="button" class="input-item login-button" value="Đăng ký">
        </div>               
    </form>
</div>