<div class="row">

	<nav aria-label="You are here:" role="navigation">
	  <ul class="breadcrumbs">
		<li><a href="/">Home</a></li>
		<li class="disabled">Người dùng</li>
		<li>
		  <span class="show-for-sr">Current: </span> Cập nhật mật khẩu
		</li>
	  </ul>
	</nav>

</div>

<div class="row">
	&nbsp;
</div>

<div class="row">
	<div class="large-4 columns">
		<div class="form">
			<form method="POST">
				<h6 class="success">{{message}}<h6>
				<h6 class="alert">{{error}}<h6>
				<div class="grid-container">
					<div class="grid-x grid-padding-x">

						<div class="medium-12 cell">
							<label>Mật khẩu hiện tại
								<input type="password" name="oldPassword" placeholder="" required>
							</label>
						</div>

						<div class="medium-12 cell">
							<label>Mật khẩu mới
								<input type="password" name="newPassword" placeholder="Nhập mật khẩu mới" required>
							</label>
						</div>

						<div class="medium-12 cell">
							<label>Xác nhận mật khẩu mới
								<input type="password" name="confirmPassword" placeholder="Xác nhận mật khẩu mới" required>
							</label>
						</div>

					</div>
				</div>

				<hr>

				<div class="text-center">
					<button class="submit success button">Đổi</button>
					<button type="button" class="alert button ml-5">Hủy</button>
				</div>
			</form>
		</div>
	</div>
</div>
