<div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="caption">
              <h2>Laptop Gamming 15% SALE OFF</h2>
              <div class="line-dec"></div>
                <p>Mạnh mẽ về cấu hình, trang bị card đồ họa rời và có thiết kế góc cạnh, đậm chất gaming, tản nhiệt tốt.
                  Nhiều máy còn có màn hình lớn sắc nét, tần số quét cao, đèn bàn phím màu sắc,...
                </p>
                <h6>Cấu hình tối thiểu:</h6>
                <p>CPU: intel core i5/ AMD Ryzen 5<br>
                <p>RAM: 8GB<br>
                <p>Ổ cứng: SSD 512 GB<br>
                <p>Card rời: GTX, RTX, Radeon RX<br>
                <p>Màn hình: Full HD IPS</p>
              
              <div class="main-button margin-top-20">
                <a href="#">Mua ngay!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <!-- Featured Starts Here -->
    <div class="featured-items">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Laptop gaming</h1>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-carousel owl-theme">
              <a href="/product/1">
                <div class="featured-item">
                  <img src="images/asus-rog-zephyrus-g14.jpg" alt="Item 1">
                  <h4>Asus ROG Zephyrus G14 Alan Walker</h4>
                  <h5>44.990.000VND</h5>
                  
                  <p>CPU: AMD Ryzen 9, 5900HS</p>
                  <p>RAM: 16GB DDR4</p>
                  <p>Ổ cứng: 1TB SSD M.2 PCle</p>
                  <p>Card rời: RTX 3050Ti 4GB</p>
                  <p>Màn hình: 14" Full HD IPS</p>
                </div>
              </a>
              <a href="/product/1">
                <div class="featured-item">
                  <img src="images/asus-rog-zephyrus-g14.jpg" alt="Item 1">
                  <h4>Asus ROG Zephyrus G14 Alan Walker</h4>
                  <h5>44.990.000VND</h5>
                  
                  <p>CPU: AMD Ryzen 9, 5900HS</p>
                  <p>RAM: 16GB DDR4</p>
                  <p>Ổ cứng: 1TB SSD M.2 PCle</p>
                  <p>Card rời: RTX 3050Ti 4GB</p>
                  <p>Màn hình: 14" Full HD IPS</p>
                </div>
              </a>
              <a href="/product/1">
                <div class="featured-item">
                  <img src="images/asus-rog-zephyrus-g14.jpg" alt="Item 1">
                  <h4>Asus ROG Zephyrus G14 Alan Walker</h4>
                  <h5>44.990.000VND</h5>
                  
                  <p>CPU: AMD Ryzen 9, 5900HS</p>
                  <p>RAM: 16GB DDR4</p>
                  <p>Ổ cứng: 1TB SSD M.2 PCle</p>
                  <p>Card rời: RTX 3050Ti 4GB</p>
                  <p>Màn hình: 14" Full HD IPS</p>
                </div>
              </a><a href="/product/1">
                <div class="featured-item">
                  <img src="images/asus-rog-zephyrus-g14.jpg" alt="Item 1">
                  <h4>Asus ROG Zephyrus G14 Alan Walker</h4>
                  <h5>44.990.000VND</h5>
                  
                  <p>CPU: AMD Ryzen 9, 5900HS</p>
                  <p>RAM: 16GB DDR4</p>
                  <p>Ổ cứng: 1TB SSD M.2 PCle</p>
                  <p>Card rời: RTX 3050Ti 4GB</p>
                  <p>Màn hình: 14" Full HD IPS</p>
                </div>
              </a><a href="/product/1">
                <div class="featured-item">
                  <img src="images/asus-rog-zephyrus-g14.jpg" alt="Item 1">
                  <h4>Asus ROG Zephyrus G14 Alan Walker</h4>
                  <h5>44.990.000VND</h5>
                  
                  <p>CPU: AMD Ryzen 9, 5900HS</p>
                  <p>RAM: 16GB DDR4</p>
                  <p>Ổ cứng: 1TB SSD M.2 PCle</p>
                  <p>Card rời: RTX 3050Ti 4GB</p>
                  <p>Màn hình: 14" Full HD IPS</p>
                </div>
              </a><a href="/product/1">
                <div class="featured-item">
                  <img src="images/asus-rog-zephyrus-g14.jpg" alt="Item 1">
                  <h4>Asus ROG Zephyrus G14 Alan Walker</h4>
                  <h5>44.990.000VND</h5>
                  
                  <p>CPU: AMD Ryzen 9, 5900HS</p>
                  <p>RAM: 16GB DDR4</p>
                  <p>Ổ cứng: 1TB SSD M.2 PCle</p>
                  <p>Card rời: RTX 3050Ti 4GB</p>
                  <p>Màn hình: 14" Full HD IPS</p>
                </div>
              </a><a href="/product/1">
                <div class="featured-item">
                  <img src="images/asus-rog-zephyrus-g14.jpg" alt="Item 1">
                  <h4>Asus ROG Zephyrus G14 Alan Walker</h4>
                  <h5>44.990.000VND</h5>
                  
                  <p>CPU: AMD Ryzen 9, 5900HS</p>
                  <p>RAM: 16GB DDR4</p>
                  <p>Ổ cứng: 1TB SSD M.2 PCle</p>
                  <p>Card rời: RTX 3050Ti 4GB</p>
                  <p>Màn hình: 14" Full HD IPS</p>
                </div>
              </a><a href="/product/1">
                <div class="featured-item">
                  <img src="images/asus-rog-zephyrus-g14.jpg" alt="Item 1">
                  <h4>Asus ROG Zephyrus G14 Alan Walker</h4>
                  <h5>44.990.000VND</h5>
                  
                  <p>CPU: AMD Ryzen 9, 5900HS</p>
                  <p>RAM: 16GB DDR4</p>
                  <p>Ổ cứng: 1TB SSD M.2 PCle</p>
                  <p>Card rời: RTX 3050Ti 4GB</p>
                  <p>Màn hình: 14" Full HD IPS</p>
                </div>
              </a><a href="/product/1">
                <div class="featured-item">
                  <img src="images/asus-rog-zephyrus-g14.jpg" alt="Item 1">
                  <h4>Asus ROG Zephyrus G14 Alan Walker</h4>
                  <h5>44.990.000VND</h5>
                  
                  <p>CPU: AMD Ryzen 9, 5900HS</p>
                  <p>RAM: 16GB DDR4</p>
                  <p>Ổ cứng: 1TB SSD M.2 PCle</p>
                  <p>Card rời: RTX 3050Ti 4GB</p>
                  <p>Màn hình: 14" Full HD IPS</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Featred Ends Here -->

    <div class="featured-items">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Laptop dành cho học sinh, sinh viên</h1>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-carousel owl-theme">
              <a href="/product/1">
                <div class="featured-item">
                  <img src="images/msi-modern15.jpg" alt="Item 1">
                  <h4>MSI Modern 15 A11MU</h4>
                  <h5>18.990.000VND</h5>
                  
                  <p>CPU: Intel Core i5 Tiger Lake</p>
                  <p>RAM: 8GB DDR4</p>
                  <p>Ổ cứng: 512GB SSD M.2 PCle</p>
                  <p>Card rời: Card tích hợp - Intel Iris Xe Graphics</p>
                  <p>Màn hình: 15.6" Full HD IPS</p>
                </div>
              </a>
              <a href="/product/1">
                <div class="featured-item">
                  <img src="images/msi-modern15.jpg" alt="Item 1">
                  <h4>MSI Modern 15 A11MU</h4>
                  <h5>18.990.000VND</h5>
                  
                  <p>CPU: Intel Core i5 Tiger Lake</p>
                  <p>RAM: 8GB DDR4</p>
                  <p>Ổ cứng: 512GB SSD M.2 PCle</p>
                  <p>Card rời: Card tích hợp - Intel Iris Xe Graphics</p>
                  <p>Màn hình: 15.6" Full HD IPS</p>
                </div>
              </a>
              <a href="/product/1">
                <div class="featured-item">
                  <img src="images/msi-modern15.jpg" alt="Item 1">
                  <h4>MSI Modern 15 A11MU</h4>
                  <h5>18.990.000VND</h5>
                  
                  <p>CPU: Intel Core i5 Tiger Lake</p>
                  <p>RAM: 8GB DDR4</p>
                  <p>Ổ cứng: 512GB SSD M.2 PCle</p>
                  <p>Card rời: Card tích hợp - Intel Iris Xe Graphics</p>
                  <p>Màn hình: 15.6" Full HD IPS</p>
                </div>
              </a>
              <a href="/product/1">
                <div class="featured-item">
                  <img src="images/msi-modern15.jpg" alt="Item 1">
                  <h4>MSI Modern 15 A11MU</h4>
                  <h5>18.990.000VND</h5>
                  
                  <p>CPU: Intel Core i5 Tiger Lake</p>
                  <p>RAM: 8GB DDR4</p>
                  <p>Ổ cứng: 512GB SSD M.2 PCle</p>
                  <p>Card rời: Card tích hợp - Intel Iris Xe Graphics</p>
                  <p>Màn hình: 15.6" Full HD IPS</p>
                </div>
              </a>
              <a href="/product/1">
                <div class="featured-item">
                  <img src="images/msi-modern15.jpg" alt="Item 1">
                  <h4>MSI Modern 15 A11MU</h4>
                  <h5>18.990.000VND</h5>
                  
                  <p>CPU: Intel Core i5 Tiger Lake</p>
                  <p>RAM: 8GB DDR4</p>
                  <p>Ổ cứng: 512GB SSD M.2 PCle</p>
                  <p>Card rời: Card tích hợp - Intel Iris Xe Graphics</p>
                  <p>Màn hình: 15.6" Full HD IPS</p>
                </div>
              </a>
              <a href="/product/1">
                <div class="featured-item">
                  <img src="images/msi-modern15.jpg" alt="Item 1">
                  <h4>MSI Modern 15 A11MU</h4>
                  <h5>18.990.000VND</h5>
                  
                  <p>CPU: Intel Core i5 Tiger Lake</p>
                  <p>RAM: 8GB DDR4</p>
                  <p>Ổ cứng: 512GB SSD M.2 PCle</p>
                  <p>Card rời: Card tích hợp - Intel Iris Xe Graphics</p>
                  <p>Màn hình: 15.6" Full HD IPS</p>
                </div>
              </a>
              <a href="/product/1">
                <div class="featured-item">
                  <img src="images/msi-modern15.jpg" alt="Item 1">
                  <h4>MSI Modern 15 A11MU</h4>
                  <h5>18.990.000VND</h5>
                  
                  <p>CPU: Intel Core i5 Tiger Lake</p>
                  <p>RAM: 8GB DDR4</p>
                  <p>Ổ cứng: 512GB SSD M.2 PCle</p>
                  <p>Card rời: Card tích hợp - Intel Iris Xe Graphics</p>
                  <p>Màn hình: 15.6" Full HD IPS</p>
                </div>
              </a>
              <a href="/product/1">
                <div class="featured-item">
                  <img src="images/msi-modern15.jpg" alt="Item 1">
                  <h4>MSI Modern 15 A11MU</h4>
                  <h5>18.990.000VND</h5>
                  
                  <p>CPU: Intel Core i5 Tiger Lake</p>
                  <p>RAM: 8GB DDR4</p>
                  <p>Ổ cứng: 512GB SSD M.2 PCle</p>
                  <p>Card rời: Card tích hợp - Intel Iris Xe Graphics</p>
                  <p>Màn hình: 15.6" Full HD IPS</p>
                </div>
              </a>
              <a href="/product/1">
                <div class="featured-item">
                  <img src="images/msi-modern15.jpg" alt="Item 1">
                  <h4>MSI Modern 15 A11MU</h4>
                  <h5>18.990.000VND</h5>
                  
                  <p>CPU: Intel Core i5 Tiger Lake</p>
                  <p>RAM: 8GB DDR4</p>
                  <p>Ổ cứng: 512GB SSD M.2 PCle</p>
                  <p>Card rời: Card tích hợp - Intel Iris Xe Graphics</p>
                  <p>Màn hình: 15.6" Full HD IPS</p>
                </div>
              </a>
              <a href="/product/1">
                <div class="featured-item">
                  <img src="images/msi-modern15.jpg" alt="Item 1">
                  <h4>MSI Modern 15 A11MU</h4>
                  <h5>18.990.000VND</h5>
                  
                  <p>CPU: Intel Core i5 Tiger Lake</p>
                  <p>RAM: 8GB DDR4</p>
                  <p>Ổ cứng: 512GB SSD M.2 PCle</p>
                  <p>Card rời: Card tích hợp - Intel Iris Xe Graphics</p>
                  <p>Màn hình: 15.6" Full HD IPS</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="featured-items">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Laptop dành cho doanh nhân, dân văn phòng</h1>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-carousel owl-theme">
              <a href="/product/1">
                <div class="featured-item">
                  <img src="images/asus-vivobook-pro15-oled.jpg" alt="Item 1">
                  <h4>Asus VivoBook Pro 15 OLED</h4>
                  <h5>31.990.000VND</h5>
                  
                  <p>CPU: Intel Core i7 Tiger Lake - 11370H</p>
                  <p>RAM: 16GB DDR4</p>
                  <p>Ổ cứng: 512GB SSD NVMe</p>
                  <p>Card rời: NVIDIA GeForce RTX3050</p>
                  <p>Màn hình: 15.6" Full HD OLED</p>
                </div>
              </a>
              <a href="/product/1">
                <div class="featured-item">
                  <img src="images/asus-vivobook-pro15-oled.jpg" alt="Item 1">
                  <h4>Asus VivoBook Pro 15 OLED</h4>
                  <h5>31.990.000VND</h5>
                  
                  <p>CPU: Intel Core i7 Tiger Lake - 11370H</p>
                  <p>RAM: 16GB DDR4</p>
                  <p>Ổ cứng: 512GB SSD NVMe</p>
                  <p>Card rời: NVIDIA GeForce RTX3050</p>
                  <p>Màn hình: 15.6" Full HD OLED</p>
                </div>
              </a>
              <a href="/product/1">
                <div class="featured-item">
                  <img src="images/asus-vivobook-pro15-oled.jpg" alt="Item 1">
                  <h4>Asus VivoBook Pro 15 OLED</h4>
                  <h5>31.990.000VND</h5>
                  
                  <p>CPU: Intel Core i7 Tiger Lake - 11370H</p>
                  <p>RAM: 16GB DDR4</p>
                  <p>Ổ cứng: 512GB SSD NVMe</p>
                  <p>Card rời: NVIDIA GeForce RTX3050</p>
                  <p>Màn hình: 15.6" Full HD OLED</p>
                </div>
              </a>
              <a href="/product/1">
                <div class="featured-item">
                  <img src="images/asus-vivobook-pro15-oled.jpg" alt="Item 1">
                  <h4>Asus VivoBook Pro 15 OLED</h4>
                  <h5>31.990.000VND</h5>
                  
                  <p>CPU: Intel Core i7 Tiger Lake - 11370H</p>
                  <p>RAM: 16GB DDR4</p>
                  <p>Ổ cứng: 512GB SSD NVMe</p>
                  <p>Card rời: NVIDIA GeForce RTX3050</p>
                  <p>Màn hình: 15.6" Full HD OLED</p>
                </div>
              </a>
              <a href="/product/1">
                <div class="featured-item">
                  <img src="images/asus-vivobook-pro15-oled.jpg" alt="Item 1">
                  <h4>Asus VivoBook Pro 15 OLED</h4>
                  <h5>31.990.000VND</h5>
                  
                  <p>CPU: Intel Core i7 Tiger Lake - 11370H</p>
                  <p>RAM: 16GB DDR4</p>
                  <p>Ổ cứng: 512GB SSD NVMe</p>
                  <p>Card rời: NVIDIA GeForce RTX3050</p>
                  <p>Màn hình: 15.6" Full HD OLED</p>
                </div>
              </a>
              <a href="/product/1">
                <div class="featured-item">
                  <img src="images/asus-vivobook-pro15-oled.jpg" alt="Item 1">
                  <h4>Asus VivoBook Pro 15 OLED</h4>
                  <h5>31.990.000VND</h5>
                  
                  <p>CPU: Intel Core i7 Tiger Lake - 11370H</p>
                  <p>RAM: 16GB DDR4</p>
                  <p>Ổ cứng: 512GB SSD NVMe</p>
                  <p>Card rời: NVIDIA GeForce RTX3050</p>
                  <p>Màn hình: 15.6" Full HD OLED</p>
                </div>
              </a>
              <a href="/product/1">
                <div class="featured-item">
                  <img src="images/asus-vivobook-pro15-oled.jpg" alt="Item 1">
                  <h4>Asus VivoBook Pro 15 OLED</h4>
                  <h5>31.990.000VND</h5>
                  
                  <p>CPU: Intel Core i7 Tiger Lake - 11370H</p>
                  <p>RAM: 16GB DDR4</p>
                  <p>Ổ cứng: 512GB SSD NVMe</p>
                  <p>Card rời: NVIDIA GeForce RTX3050</p>
                  <p>Màn hình: 15.6" Full HD OLED</p>
                </div>
              </a>
              <a href="/product/1">
                <div class="featured-item">
                  <img src="images/asus-vivobook-pro15-oled.jpg" alt="Item 1">
                  <h4>Asus VivoBook Pro 15 OLED</h4>
                  <h5>31.990.000VND</h5>
                  
                  <p>CPU: Intel Core i7 Tiger Lake - 11370H</p>
                  <p>RAM: 16GB DDR4</p>
                  <p>Ổ cứng: 512GB SSD NVMe</p>
                  <p>Card rời: NVIDIA GeForce RTX3050</p>
                  <p>Màn hình: 15.6" Full HD OLED</p>
                </div>
              </a>
              <a href="/product/1">
                <div class="featured-item">
                  <img src="images/asus-vivobook-pro15-oled.jpg" alt="Item 1">
                  <h4>Asus VivoBook Pro 15 OLED</h4>
                  <h5>31.990.000VND</h5>
                  
                  <p>CPU: Intel Core i7 Tiger Lake - 11370H</p>
                  <p>RAM: 16GB DDR4</p>
                  <p>Ổ cứng: 512GB SSD NVMe</p>
                  <p>Card rời: NVIDIA GeForce RTX3050</p>
                  <p>Màn hình: 15.6" Full HD OLED</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>