<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Trang quản trị</title>
	<link rel="stylesheet" href="/css/foundation.css">
	<link rel="stylesheet" href="/css/app.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">

	<!-- Google Charts-->
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript"></script>

</head>
<body>
	<div class="off-canvas-wrapper">
		<div class="off-canvas position-left" id="offCanvas" data-off-canvas>
			
			<button class="close-button" aria-label="Close menu" type="button" data-close>
				<span aria-hidden="true">&times;</span>
			</button>

			{{> vertical_menu }}
		</div>

		<div class="off-canvas-content" data-off-canvas-content>
			{{> top_bar }}

			<div class="row">
				&nbsp;
			</div>

			{{{ body }}}

		</div>
	</div>

	<script src="/js/vendor/jquery.js"></script>
	<script src="/js/vendor/what-input.js"></script>
	<script src="/js/vendor/foundation.js"></script>
	<script src="/js/app.js"></script>

	<script type="text/javascript">
		$(document).foundation();
		$(".off-canvas-submenu").hide();
		$(".off-canvas-submenu-call").click(function () {
			var icon = $(this).parent().next(".off-canvas-submenu").is(':visible') ? '+' : '-';
			$(this).parent().next(".off-canvas-submenu").slideToggle('fast');
			$(this).find("span").text(icon);
		});
	</script>
</body>
</html>
