<div class="row">
	<div class="large-3 columns">
		<div class="callout success">
			<p>
				<strong>Total Orders (this week)</strong>
			</p>
			<div class="text-right">
				<div class="stat">€250.00</div>
			</div>
		</div>
	</div>
	<div class="large-3 columns">
		<div class="callout primary">
			<p>
				<strong>New Customers (this week)</strong>
			</p>
			<div class="text-right">
				<div class="stat">7</div>
			</div>
		</div>
	</div>
	<div class="large-3 columns">
		<div class="callout secondary">
			<p>
				<strong>Pending Reviews</strong>
			</p>
			<div class="text-right">
				<div class="stat">2</div>
			</div>
		</div>
	</div>
	<div class="large-3 columns">
		<div class="callout warning">
			<p>
				<strong>Abandoned Carts</strong>
			</p>
			<div class="text-right">
				<div class="stat">3</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-6 columns">
		<div class="card " style="width: 100%;">
			<div class="card-divider clearfix">
				Income from Sales (This Week) <i data-tooltip title="Click for More"
					class="float-right more-button fa fa-ellipsis-h" aria-hidden="true"></i>
			</div>
			<div id="chtSalesThisWeek" style="width: 100%;"></div>
			<div class="card-section">
				<small>
					This chart shows Sales Vs Cost for the past week
				</small>
			</div>
		</div>
	</div>

	<div class="large-6 columns">
		<div class="card " style="width: 100%;">
			<div class="card-divider clearfix">
				Shopping Cart Completion Rate (This Week)<i data-tooltip title="Click for More"
					class="float-right more-button fa fa-ellipsis-h" aria-hidden="true"></i>
			</div>
			<div id="chtCompletionRate" style="width: 100%;"></div>
			<div class="card-section">
				<small>
					This chart shows the percentage of completed Carts
				</small>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-4 columns">
		<div class="card " style="width: 100%;">
			<div class="card-divider clearfix">
				Repeat Purchase Rate<i data-tooltip title="Click for More"
					class="float-right more-button fa fa-ellipsis-h" aria-hidden="true"></i>
			</div>
			<div class="card-body text-right">
				<div class="stat">2%</div>
			</div>
			<div class="card-section">
				<small>
					% Users who have made repeat purchases
				</small>
			</div>
		</div>
	</div>

	<div class="large-4 columns">
		<div class="card " style="width: 100%;">
			<div class="card-divider clearfix">
				Total Revenue<i data-tooltip title="Click for More" class="float-right more-button fa fa-ellipsis-h"
					aria-hidden="true"></i>
			</div>
			<div class="card-body text-right">
				<div class="stat">€4,000</div>
			</div>
			<div class="card-section">
				<small>
					Total Revenue made in the past 30 days
				</small>
			</div>
		</div>
	</div>

	<div class="large-4 columns">
		<div class="card " style="width: 100%;">
			<div class="card-divider clearfix">
				Add To Cart Rate<i data-tooltip title="Click for More" class="float-right more-button fa fa-ellipsis-h"
					aria-hidden="true"></i>
			</div>
			<div class="card-body text-right">
				<div class="stat">61.7%</div>
			</div>
			<div class="card-section">
				<small>
					% of Product Views that result in an Add to Cart
				</small>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-7 columns">
		<div class="card " style="width: 100%;">
			<div class="card-divider clearfix">
				Pending Orders<i data-tooltip title="Click for More" class="float-right more-button fa fa-ellipsis-h"
					aria-hidden="true"></i>
			</div>
			<table>
				<thead>
					<tr>
						<th width="300">Customer</th>
						<th width="150">Order Date</th>
						<th width="250">Status</th>
						<th width="150">Amount</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>john@smith.ie</td>
						<td>1st March 2017</td>
						<td><label class="label primary"><i class="fa fa-map-marker"
									aria-hidden="true"></i>&nbsp;Placed</label></td>
						<td class="text-right">€150.00</td>
					</tr>
					<tr>
						<td>john@smith.ie</td>
						<td>1st March 2017</td>
						<td>
							<label class="label primary"><i class="fa fa-map-marker"
									aria-hidden="true"></i>&nbsp;Placed</label>
							<label class="label alert"><i class="fa fa-plane" aria-hidden="true"></i>&nbsp;Rush
								Order</label>
						</td>
						<td class="text-right">€150.00</td>
					</tr>
					<tr>
						<td>john@smith.ie</td>
						<td>1st March 2017</td>
						<td>
							<label class="label success"><i class="fa fa-truck"
									aria-hidden="true"></i>&nbsp;Shipped</label>
						</td>
						<td class="text-right">€150.00</td>
					</tr>
				</tbody>
			</table>
			<div class="card-section">
				<small>
					Shows the last 10 pending orders
				</small>
			</div>
		</div>
	</div>
	<div class="large-5 columns">
		<div class="card " style="width: 100%;">
			<div class="card-divider clearfix">
				Gender Breakdown<i data-tooltip title="Click for More" class="float-right more-button fa fa-ellipsis-h"
					aria-hidden="true"></i>
			</div>
			<div id="chtGenderBreakdown" style="width: 100%; height: 300px;"></div>
			<div class="card-section">
				<small>
					Graphical breakdown of your revenue by Genders
				</small>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<div class="card " style="width: 100%;">
			<div class="card-divider clearfix">
				Sales by Product<i data-tooltip title="Click for More" class="float-right more-button fa fa-ellipsis-h"
					aria-hidden="true"></i>
			</div>
			<table>
				<thead>
					<tr>
						<th>Product</th>
						<th>Orders</th>
						<th>Quantity</th>
						<th>Amount</th>
						<th style="width: 12%;" class="text-center">Vs Last Week</th>
						<th style="width: 12%;" class="text-center">Vs Last Month</th>
						<th style="width: 12%;" class="text-center">Vs Last Year</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Rocks</td>
						<td>4</td>
						<td>10</td>
						<td class="text-right">€150.00</td>
						<td class="text-center">
							<label class="label success">
								<i class="fa fa-arrow-up" aria-hidden="true"></i>&nbsp;Up&nbsp;<i class="fa fa-arrow-up"
									aria-hidden="true"></i>
							</label>
						</td>
						<td class="text-center">
							<label class="label alert">
								<i class="fa fa-arrow-down" aria-hidden="true"></i>&nbsp;Down&nbsp;<i
									class="fa fa-arrow-down" aria-hidden="true"></i>
							</label>
						</td>
						<td class="text-center">
							<label class="label alert">
								<i class="fa fa-arrow-down" aria-hidden="true"></i>&nbsp;Down&nbsp;<i
									class="fa fa-arrow-down" aria-hidden="true"></i>
							</label>
						</td>
					</tr>
					<tr>
						<td>Trimming</td>
						<td>1</td>
						<td>10</td>
						<td class="text-right">€200.00</td>
						<td class="text-center">
							<label class="label success">
								<i class="fa fa-arrow-up" aria-hidden="true"></i>&nbsp;Up&nbsp;<i class="fa fa-arrow-up"
									aria-hidden="true"></i>
							</label>
						</td>
						<td class="text-center">
							<label class="label alert">
								<i class="fa fa-arrow-down" aria-hidden="true"></i>&nbsp;Down&nbsp;<i
									class="fa fa-arrow-down" aria-hidden="true"></i>
							</label>
						</td>
						<td class="text-center">
							<label class="label warning">
								<i class="fa fa-minus" aria-hidden="true"></i>&nbsp;No Change&nbsp;<i
									class="fa fa-minus" aria-hidden="true"></i>
							</label>
						</td>
					</tr>
					<tr>
						<td>Maintenance & Repair</td>
						<td>1</td>
						<td>11</td>
						<td class="text-right">€10.00</td>
						<td class="text-center">
							<label class="label alert">
								<i class="fa fa-arrow-down" aria-hidden="true"></i>&nbsp;Down&nbsp;<i
									class="fa fa-arrow-down" aria-hidden="true"></i>
							</label>
						</td>
						<td class="text-center">
							<label class="label success">
								<i class="fa fa-arrow-up" aria-hidden="true"></i>&nbsp;Up&nbsp;<i class="fa fa-arrow-up"
									aria-hidden="true"></i>
							</label>
						</td>
						<td class="text-center">
							<label class="label alert">
								<i class="fa fa-arrow-down" aria-hidden="true"></i>&nbsp;Down&nbsp;<i
									class="fa fa-arrow-down" aria-hidden="true"></i>
							</label>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="card-section">
				<small>
					Show the Top 10 Products by Sales
				</small>
			</div>
		</div>
	</div>
</div>