<div class="row">

    <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li class="disabled">Thống kê</li>
            <li>
                <span class="show-for-sr">Current: </span> Doanh thu
            </li>
        </ul>
    </nav>

</div>

<div class="row">
    &nbsp;
</div>

<div id="chtCategoryRate" style="width: 100%;"></div>

<div class="row">
    <div class="large-12 columns">
        <div class="card " style="width: 100%;">
            <div class="text-center card-divider clearfix">
                <h3>Top 10 sản phẩm bán chạy</h3>
                <i class="float-right more-button fa fa-download fa-2" aria-hidden="true"></i>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Mã SP</th>
                        <th>Tên sản phẩm</th>
                        <th>Hình ảnh</th>
                        <th>Đơn giá</th>
                        <th>Đã bán</th>
                        <th>Tổng doanh thu</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>MacBook ABC</td>
                        <td><img src="../images/laptop_small.png"></td>
                        <td class="text-right">€150.00</td>
                        <!-- <td class="text-center">
										<label class="label success">
											<i class="fa fa-arrow-up" aria-hidden="true"></i>&nbsp;Up&nbsp;<i class="fa fa-arrow-up" aria-hidden="true"></i>
										</label>
									</td> -->
                        <td class="text-center">10</td>
                        <td class="text-center">€1500.00</td>
                        <td class="text-center">
                            <a class="button success m-0" href="#">Chi tiết</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>MacBook ABC</td>
                        <td><img src="../images/laptop_small.png"></td>
                        <td class="text-right">€150.00</td>
                        <!-- <td class="text-center">
										<label class="label success">
											<i class="fa fa-arrow-up" aria-hidden="true"></i>&nbsp;Up&nbsp;<i class="fa fa-arrow-up" aria-hidden="true"></i>
										</label>
									</td> -->
                        <td class="text-center">10</td>
                        <td class="text-center">€1500.00</td>
                        <td class="text-center">
                            <a class="button success m-0" href="#">Chi tiết</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>MacBook ABC</td>
                        <td><img src="../images/laptop_small.png"></td>
                        <td class="text-right">€150.00</td>
                        <!-- <td class="text-center">
										<label class="label success">
											<i class="fa fa-arrow-up" aria-hidden="true"></i>&nbsp;Up&nbsp;<i class="fa fa-arrow-up" aria-hidden="true"></i>
										</label>
									</td> -->
                        <td class="text-center">10</td>
                        <td class="text-center">€1500.00</td>
                        <td class="text-center">
                            <a class="button success m-0" href="#">Chi tiết</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>MacBook ABC</td>
                        <td><img src="../images/laptop_small.png"></td>
                        <td class="text-right">€150.00</td>
                        <!-- <td class="text-center">
										<label class="label success">
											<i class="fa fa-arrow-up" aria-hidden="true"></i>&nbsp;Up&nbsp;<i class="fa fa-arrow-up" aria-hidden="true"></i>
										</label>
									</td> -->
                        <td class="text-center">10</td>
                        <td class="text-center">€1500.00</td>
                        <td class="text-center">
                            <a class="button success m-0" href="#">Chi tiết</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>MacBook ABC</td>
                        <td><img src="../images/laptop_small.png"></td>
                        <td class="text-right">€150.00</td>
                        <!-- <td class="text-center">
										<label class="label success">
											<i class="fa fa-arrow-up" aria-hidden="true"></i>&nbsp;Up&nbsp;<i class="fa fa-arrow-up" aria-hidden="true"></i>
										</label>
									</td> -->
                        <td class="text-center">10</td>
                        <td class="text-center">€1500.00</td>
                        <td class="text-center">
                            <a class="button success m-0" href="#">Chi tiết</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>MacBook ABC</td>
                        <td><img src="../images/laptop_small.png"></td>
                        <td class="text-right">€150.00</td>
                        <!-- <td class="text-center">
										<label class="label success">
											<i class="fa fa-arrow-up" aria-hidden="true"></i>&nbsp;Up&nbsp;<i class="fa fa-arrow-up" aria-hidden="true"></i>
										</label>
									</td> -->
                        <td class="text-center">10</td>
                        <td class="text-center">€1500.00</td>
                        <td class="text-center">
                            <a class="button success m-0" href="#">Chi tiết</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>MacBook ABC</td>
                        <td><img src="../images/laptop_small.png"></td>
                        <td class="text-right">€150.00</td>
                        <!-- <td class="text-center">
										<label class="label success">
											<i class="fa fa-arrow-up" aria-hidden="true"></i>&nbsp;Up&nbsp;<i class="fa fa-arrow-up" aria-hidden="true"></i>
										</label>
									</td> -->
                        <td class="text-center">10</td>
                        <td class="text-center">€1500.00</td>
                        <td class="text-center">
                            <a class="button success m-0" href="#">Chi tiết</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>MacBook ABC</td>
                        <td><img src="../images/laptop_small.png"></td>
                        <td class="text-right">€150.00</td>
                        <!-- <td class="text-center">
										<label class="label success">
											<i class="fa fa-arrow-up" aria-hidden="true"></i>&nbsp;Up&nbsp;<i class="fa fa-arrow-up" aria-hidden="true"></i>
										</label>
									</td> -->
                        <td class="text-center">10</td>
                        <td class="text-center">€1500.00</td>
                        <td class="text-center">
                            <a class="button success m-0" href="#">Chi tiết</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>MacBook ABC</td>
                        <td><img src="../images/laptop_small.png"></td>
                        <td class="text-right">€150.00</td>
                        <!-- <td class="text-center">
										<label class="label success">
											<i class="fa fa-arrow-up" aria-hidden="true"></i>&nbsp;Up&nbsp;<i class="fa fa-arrow-up" aria-hidden="true"></i>
										</label>
									</td> -->
                        <td class="text-center">10</td>
                        <td class="text-center">€1500.00</td>
                        <td class="text-center">
                            <a class="button success m-0" href="#">Chi tiết</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>MacBook ABC</td>
                        <td><img src="../images/laptop_small.png"></td>
                        <td class="text-right">€150.00</td>
                        <!-- <td class="text-center">
										<label class="label success">
											<i class="fa fa-arrow-up" aria-hidden="true"></i>&nbsp;Up&nbsp;<i class="fa fa-arrow-up" aria-hidden="true"></i>
										</label>
									</td> -->
                        <td class="text-center">10</td>
                        <td class="text-center">€1500.00</td>
                        <td class="text-center">
                            <a class="button success m-0" href="#">Chi tiết</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>